<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="main-page-authorized.html" class="navbar-brand">Ромкин авто сайт</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white mr-lg-4" href="/catalog">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white mr-lg-4" href="/my_posts">Мои объявления</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white mr-lg-4" href="/favorites">Избранные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white mr-lg-4" href="/chats">Чаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white mr-lg-4" href="/post_car">Продать</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white mr-lg-4" href="/profile">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white mr-lg-4" href="/info">О проекте</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/wants_logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>